@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.gradient-bg-welcome {
  background: rgb(225,186,249);
background: linear-gradient(180deg, rgba(225,186,249,1) 0%, rgba(127,112,177,1) 62%, rgba(56,23,91,1) 100%);}


.blue-glassmorphism {
  background:rgba(127,112,177,1);

  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 0, 0.3);
}


.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}


.header-glassmorphism {
  background: rgba(198,178,206,0.44);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
 
}
.btn-glassmorphism {
  background: rgba(74,81,105,255);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
 
}


.eth-card{
  background: rgb(242,237,249);
background: linear-gradient(135deg, rgba(242,237,249,1) 0%, rgba(83,72,110,1) 100%);}
